body{
      padding: 0;
      margin: 0;
      font-family: 'Muli', sans-serif;
}
.fab-fa-facebook-square{
      font-size: 26px; 
      color: Mediumslateblue;
}
.fab-fa-twitter-square{
      font-size: 26px; 
      color: Dodgerblue;
}
.fab-fa-github-square{
      font-size: 26px; 
      color: #010101;
}
.primary{
      background-color: #16C079;
      color: #FFD600;
      font-weight: bold;
}
.logo{
      font-family: Rockwell Haettenschweiler;
      font-size: 24px;
      font-weight: bold;
      color: #FFD600;
}
.specail{
      font-weight: bold;
      color: #FFD600;
}
.specail:hover{
      font-weight: bold;
      color: #16C079;
}
.btn{
      background: #FFD600;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 10px;
}
footer h1{
      margin-bottom: 55px !important;
      color: #fff !important;
}
footer .content ul{
      padding: 0;
      margin: 0;
}
footer .content ul li{
      list-style-type: none;
      text-align: center;
      padding: 5px;
}
footer .content ul li a{
      color: #FFD600;
      font-size: 18px;
}
footer .content ul li a:hover{
      color: #ddd;
}
footer h6{
      text-align: center;
      color: #fff !important;
      font-size: 30px !important;
      margin-bottom: 25px !important;
}
footer .is-success{
      margin-top: 15px;
}
footer .fa{
      padding-right: 10px;
      font-size: 24px;
      cursor: pointer;
}
footer .control.has-icons-left .icon.is-left{
      left: 5px;
}
footer p{
      font-size: 18px;
}
footer .is-success:hover{
      background: #0f8438 !important;
}
      @media(max-width: 768px){
footer .bottom p,.has-text-right{
      text-align: center !important;
}
}